<% content_for :body do %>

    <h1> GEO MAP </h1>

    <h2> Find nodes </h2>

    <p>Data in database from (min_x:16.95, max_x: 17.32, min_y:48, 06, max: 48.2) (LIMITED to 1000 objects) </p>
    <%= simple_form_for :search_coord, url: find_points_url, method: :get do |f| %>
        <%= f.input :min_x, label: 'Min X:' %>
        <%= f.input :max_x, label: 'Max X:'  %>
        <%= f.input :min_y, label: 'Min Y:' %>
        <%= f.input :max_y, label: 'Max Y:'  %>
        <%= f.input :type , collection: ["All", "Unknown", "With description"], include_blank: false %>
    <% end %>

    <h4>Legend</h4>
    <p>Green: with description</p>
    <p>Grey: unknow type</p>

    <button id="search_coord">Search in collection</button>


    <h2> Apppend node </h2>
    <p>Append node in database </p>
    <%= simple_form_for :insert_node_form, url: find_points_url, method: :get do |f| %>
        <%= f.input :min_x, label: 'Min X:' %>
        <%= f.input :max_x, label: 'Max X:'  %>
        <%= f.input :min_y, label: 'Min Y:' %>
        <%= f.input :max_y, label: 'Max Y:'  %>
        <%= f.input :type , collection: ["All", "Unknown", "With description"], include_blank: false %>
    <% end %>

    <button id="search_coord">Appended</button>


    <div id="mapid"></div>
            
<% end %>