<% content_for :body do %>

    <div id='navigation' class="nav nav-static-top navbar-ight bg-faded">
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a id="home_page">Home</a></li>
        <li class="nav-item"><a id="find_nodes_page">Find nodes</a></li>
        <li class="nav-item"><a id="find_historic_page">Find signseeing</a></li>
        <li class="nav-item"><a id="append_nodes_page">Append nodes</a></li>
        <li class="nav-item"><a id="road_page">Road between points</a></li>
        <li class="nav-item"><a id="find_roads_page">View Bratislava roads</a></li>

      </ul>
    </div>

    <div class="jumbotron text-center">

        <h1> Sightseeing map </h1>
        <p> Help turists find sightseeings</p>

    </div>


    <div class="container">

        <div id="find_nodes" name="find_nodes_name">
          <div class="col-sm-4">
              <h2> Find nodes </h2>

              <p>Data in database from (min_x:16.95, max_x: 17.32, min_y:48, 06, max: 48.2) (LIMITED to 1000 objects) </p>
              <%= simple_form_for :search_coord, url: find_points_url, method: :get do |f| %>
                  <%= f.input :min_x, label: 'Min X:', :input_html => { :value => "17.1" }%>
                  <%= f.input :max_x, label: 'Max X:', :input_html => { :value => "17.11" }  %>
                  <%= f.input :min_y, label: 'Min Y:', :input_html => { :value => "48.12" } %>
                  <%= f.input :max_y, label: 'Max Y:', :input_html => { :value => "48.13" }  %>
                  <%= f.input :type , collection: ["All", "Unknown", "With description"], include_blank: false %>
              <% end %>
          </div>

          <div class="col-sm-4">
              <h4>Legend</h4>
              <p>Green: with description</p>
              <p>Grey: unknow type</p>

              <button id="search_coord">Search in collection</button>
          </div>
        </div>

        <div id="find_historic" >

          <div class="col-sm-4">
            <h2> Find sightseeing(historic) </h2>

            <p>Find sigtseeing (min_x:16.95, max_x: 17.32, min_y:48, 06, max: 48.2) (LIMITED to 1000 objects) </p>
            <%= simple_form_for :search_coord_historic, url: find_points_historic_url, method: :get do |f| %>
                <%= f.input :min_x, label: 'Min X:', :input_html => { :value => "16" }%>
                <%= f.input :max_x, label: 'Max X:', :input_html => { :value => "18" }  %>
                <%= f.input :min_y, label: 'Min Y:', :input_html => { :value => "48" } %>
                <%= f.input :max_y, label: 'Max Y:', :input_html => { :value => "49" }  %>
                <%= f.input :type , collection: ["all", "unknown", "castle", "battlefield", "memorial", "monument", "archaeological_site", "bondary_stone"], include_blank: false %>
            <% end %>
            </div>
          <div class="col-sm-4">
            <h4>Legend</h4>
            <p>Grey: unknown type</p>
            <p>Black: castle </p>
            <p>Red: battlefield </p>
            <p>Green: memorial </p>
            <p>Monument: yellow </p>
            <p>Archeologic site: orange </p>
            <p>Blue: bundary stone </p>

            <button id="search_coord_historic">Search in collection</button>
            </div>
          </div>
        <div id="append_nodes" class="col-sm-4">
            <h2> Apppend node </h2>
            <p>Append node in database </p>
            <%= simple_form_for :insert_node_form, url: insert_node_url, method: :get do |f| %>
                <%= f.input :name, label: 'Name:', :input_html => { :value => "Petrzalsky hrad" }%>
                <%= f.input :x, label: 'X:', :input_html => { :value => "17.1" } %>
                <%= f.input :y, label: 'Y:', :input_html => { :value => "17.1" }%>
                <%= f.input :type , collection: ["unknown", "castle", "battlefield", "memorial", "monument", "archaeological_site", "bondary_stone"], include_blank: false %>
            <% end %>

            <button id="insert_node_button">Insert in database</button>
          </div>
        <div id="road" class="col-sm-4">

            <h2> Road between two points</h2>

            <p>Road between points </p>

          <form action="demo_form.asp">
            Point 1x: <input type="text" id="road_x1" value="17.1"><br>
            Point 1y: <input type="text" id="road_y1" value="48.1"><br>
            Point 2x: <input type="text" id="road_x2" value="17.12"><br>
            Point 2y: <input type="text" id="road_y2" value="48.12"><br>
          </form>

          <button id="find_path_button">Find paths</button>

        </div>

        <div id="find_roads" class="col-sm-4">
          <%= simple_form_for :find_paths_form, url: find_paths_url, method: :get do |f| %>
              <%= f.input :min_x, label: 'Min X:', :input_html => { :value => "17.1" }%>
              <%= f.input :max_x, label: 'Max X:', :input_html => { :value => "17.14" }  %>
              <%= f.input :min_y, label: 'Min Y:', :input_html => { :value => "48.13" }%>
              <%= f.input :max_y, label: 'Max Y:', :input_html => { :value => "48.15" } %>
          <% end %>

          <button id="find_paths_button">Find paths</button>
        </div>
      </div>
    <div id="mapid" class="jumbotron text-center"></div>

    </div>

    <script>
        $("#find_nodes").hide();
        $("#find_historic").hide();
        $("#append_nodes").hide();
        $("#road").hide();
        $("#find_roads").hide();
    </script>

    <script>
        $(document).ready( function() {
            $("#home_page").on("click", function() {
                $("#find_nodes").hide();
                $("#find_historic").hide();
                $("#append_nodes").hide();
                $("#road").hide();
                $("#find_roads").hide();


            });
            $("#find_nodes_page").on("click", function() {
                $("#find_nodes").show();
                $("#find_historic").hide();
                $("#append_nodes").hide();
                $("#road").hide();
                $("#find_roads").hide();

                window.scrollTo(0,document.body.scrollHeight);

            });
            $("#find_historic_page").on("click", function() {
                $("#find_nodes").hide();
                $("#find_historic").show();
                $("#append_nodes").hide();
                $("#road").hide();
                $("#find_roads").hide();

                window.scrollTo(0,document.body.scrollHeight);

            });
            $("#append_nodes_page").on("click", function() {
                $("#find_nodes").hide();
                $("#find_historic").hide();
                $("#append_nodes").show();
                $("#road").hide();
                $("#find_roads").hide();

                window.scrollTo(0,document.body.scrollHeight);

            });
            $("#road_page").on("click", function() {
                $("#find_nodes").hide();
                $("#find_historic").hide();
                $("#append_nodes").hide();
                $("#road").show();
                $("#find_roads").hide();

                window.scrollTo(0,document.body.scrollHeight);

            });
            $("#find_roads_page").on("click", function() {
                $("#find_nodes").hide();
                $("#find_historic").hide();
                $("#append_nodes").hide();
                $("#road").hide();
                $("#find_roads").show();

                window.scrollTo(0,document.body.scrollHeight);

            });
        });
    </script>


<% end %>